{% include "header.html" %}
<!-- Begin page content -->
<div class="container">
    <div class="table-responsive" style="overflow-x: visible;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Storage Class</th>
                <th>Size</th>
                <th>Last Modified</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for d in user_files.directory.entry %}
            <tr>
                <td><input type="checkbox" value=""></td>
                <td>
                    {% if d.type == "directory" %}
                    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/opened_folder-16.png"/>
                    {% else %}
                    <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-16.png"/>
                    {% endif %}
                </td>
                <td>{{ d.utf8Name }}</td>
                <td>{{ d.type }}</td>
                <td>{{ d.size }}</td>
                <td>{{ d.changeTimeString }}</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if d.type == 'directory' %}
                                <li><a href="/namespaces/{{ nspace }}/{{ d.utf8Name }}">Open Folder</a></li>
                            {% else %}
                                <li><a href="/namespaces/view/{{ nspace }}/{{ d.utf8Name }}">Open File</a></li>
                            {% endif %}
                            <li><a href="/api/files/{{ nspace }}/{{ d.utf8Name }}">Download File</a></li>
                            <li><a href="#">Manage File</a></li>
                            <li><a href="#">Share File</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="delete-file" href="{{ d.utf8Name }}">Delete File</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "footer.html" %}